#landing-wrapper {
    color: white;
    position: relative;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, .5);
}

#main-nav {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 6rem;
    z-index: 5;
}

.landing-bg {
    width: auto;
    height: 100vh;
    background-size: cover;
    background-image: url("./assets/images/hostage_bg.png");
}

.landing-text {
    position: absolute;
    top: 18%;
    left: 10%;
}

#trust-text {
    color: #3d8bd9;
}

.landing-btn-group {
    position: absolute;
    bottom: 20%;
    left: 38%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.landing-btn {
    cursor: pointer;
    border: 2px solid white;
    background-color: transparent;
}

#quote-btn {
    padding: .5rem .5rem .5rem .75rem;
}

#call-btn {
    margin-left: 1rem;
    padding: .5rem;
}

.nav-link:hover {
    background-color: rgba(100, 100, 100, .5);
    border-radius: 3px;
}

.navbar-brand:hover {
    background-color: rgba(100, 100, 100, .5);
    border-radius: 3px;
    padding: 0 10px;
}

.landing-btn:hover {
    background-color: rgba(100, 100, 100, .5);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .75);
}


/* BELOW LANDING*/
.who-we-are {
    position: relative;
    height: 56rem;
    color: black;
    background-color: #f8f8ff;
}

.mission {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin:5%;
}

.mission p {
    /*width: 42rem;*/
    height: auto;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    background-color: #ffffff;
}


.what-we-do {
    height: 56rem;
}

@media screen and (min-width: 360px) and (max-width: 480px) {
    .mission {
        grid-template-columns: 1fr;
    }
}

